.main-input {
}

.main-input input {
  border: 2px solid blue;
}

.main-input.error input {
  border: 2px solid red;
}

.main-input.error label {
  color: red;
}

.main-input label {
  display: block;
}
