.App {
  height: 100vh;

  display: grid;
  place-items: center;
}

.wrapper {
  padding: 3em 2em;
  background: var(--clr-white);
  border-radius: 0.5em;

  box-shadow: 2.3px 5.3px 7.4px -6px rgba(0, 0, 0, 0.08),
    7.8px 17.6px 25px -6px rgba(0, 0, 0, 0.049), 35px 79px 112px -6px rgba(0, 0, 0, 0.034);

  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  gap: 2em;

  height: 580px;
  width: 540px;
}

.group {
  display: flex;
  gap: 1.5em;
}

/* ================== */
/* Buttons & inputs */
/* ================== */

.btn {
  cursor: pointer;
  border: none;
  padding: 1em 2em;
  font-family: inherit;
  font-size: var(--fs-14);

  transition: 0.2s ease-in;
}

.btn.default {
  background-color: var(--clr-soft-grey);
  color: var(--clr-dark-text);
}
.btn.default:hover,
.btn.default:focus {
  background-color: var(--clr-soft-grey-hover);
}

.btn.primary {
  background-color: var(--clr-blue);
  color: var(--clr-white);
}
.btn.primary:hover,
.btn.primary:focus {
  background-color: var(--clr-blue-hover);
}

.btn.danger {
  background-color: var(--clr-red);
  color: var(--clr-white);
}
.btn.danger:hover,
.btn.danger:focus {
  background-color: var(--clr-red-hover);
}

.btn.secondary {
  background-color: var(--clr-green);
  color: var(--clr-white);
}
.btn.secondary:hover,
.btn.secondary:focus {
  background-color: var(--clr-green-hover);
}
